.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;

  &__player {
    position: absolute;
    width: 100%;
    height: 100%;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video::-webkit-media-controls {
      display: none !important;
    }
  }

  &__controls {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    display: flex;
    align-items: center;
    height: 6.5rem;
    transform: translateX(-50%);
  }

  &__button-sound {
    position: relative;
    margin-left: auto;
    width: 7rem;
    height: 7rem;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 1.6rem;
      height: 1.6rem;
      background-image: url(../img/ui/sound.svg);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: opacity var(--transition);
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 1.6rem;
      height: 1.6rem;
      background-image: url(../img/ui/muted.svg);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 1;
      transform: translate(-50%, -50%);
      transition: opacity var(--transition);
    }

    &.active {
      &::before {
        opacity: 1;
        transition: opacity var(--transition);
      }

      &::after {
        opacity: 0;
        transition: opacity var(--transition);
      }
    }
  }

  &__anchor {
    display: block;
    margin-left: auto;
    min-width: 3.6rem;
    min-height: 6.5rem;
    transform: translateX(calc(-50% + 7rem));

    @media (max-width: em(1180)) {
      transform: translateX(calc(-50% + 5rem));
    }
  }
}
