.secure {
  overflow: hidden;
  min-height: 85rem;

  @media (max-width: em(1660)) {
    min-height: initial;
  }

  @media (max-width: em(1200)) {
    margin-top: 10rem;
  }

  @media (max-width: em(767)) {
    margin-top: 6rem;
  }

  &__wrapper {
    position: relative;
    display: flex;

    @media (max-width: em(992)) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 69rem;

    @media (max-width: em(1660)) {
      margin-right: 3rem;
      max-width: initial;
    }

    @media (max-width: em(992)) {
      margin-right: initial !important;
      max-width: initial !important;
    }
  }

  &__title {
    margin-bottom: 5rem;

    @media (max-width: em(992)) {
      margin-bottom: 1rem;
    }
  }

  &__buttons {
    display: flex;

    @media (max-width: em(767)) {
      flex-direction: column;
    }
  }

  &__button-wrapper {
    &:not(:last-child) {
      margin-right: 3rem;

      @media (max-width: em(767)) {
        margin-right: initial;
        margin-bottom: 3rem;
      }
    }
  }

  &__button {
    margin-bottom: 1rem;
  }

  &__button-description {
    font-size: 1.4rem;
    text-align: center;
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;
    mix-blend-mode: color-dodge;
  }

  &__image {
    max-width: 77rem;
  }

  &__content-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
  }
}
